h1 {
    text-align: center;
    color: #fff;
    font-size: 32px;
}
body {
    background-color: #7700ff;
}
.album {
    background-image: url(./assets/fundo.png);
    background-size: cover;
    height: 678px;
    width: 550px;
    padding: 10px;
    margin: 0 auto;
}
.carta {
    height: 187.5px;
    width: 150px;
    padding: 5px;
    margin: 10px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
